extends layout

block content
	h1 The best movies of 2019
	.container
		div
			img(src='/images/movies.jpg', alt='movies 2019', width='600')
		.text
			p In 2019 released a lot of great films such as:
			ul
				li It Chapter Two
				li Terminator: Dark Fate
				li Hustlers
				li Dark Phoenix
				li Angel Has Fallen
			p here you can find information about 4 famous films that were released in 2019:
			ol
				li Once Upon a Time... in Hollywood
				li Toy Story 4
				li Spider-Man: Far From Home
				li Joker
